
.sidebar{
    background-color: #7ff087;
    height: 100vh;
   }
    .sidebar > a {
      display: flex;
      color: black;
      padding: 16px;
      text-decoration: none;
      transition: all 0.5s;
      align-items: center;
    }
    .sidebar > a > svg{
      font-size: 2.2vmax;
      color: rgba(0, 0, 0, 0.445);
      margin-right: 1vmax;
    }
    .sidebar > a:hover{
      color: black;
      transform: scale(1.18);
  }
  .sidebar > div{
      width: 88%;
      margin-bottom: 1vmax;
      margin-left: 0.7vmax;
  }
  .sidebar > div > img{
      height: 11.5vh;
      width: inherit
  }
  @media screen and (max-width:600px){
    .sidebar > a > svg{
        font-size: 8vw;
    }
  }
  
  .header{
      display: flex;
      justify-content: center;
      align-items: center;
      outline: solid 1px #d3ccfc;
  }
  .header > a {
      width: 2vmax;
      height: 2vmax;
      margin: 1vmax 4vmax;
  }
  .header > a > svg{
      font-size: 2.5vmax;
      transition: all 0.5s;
      color: rgba(0, 0, 0, 0.445);
  }
  .header > a > svg:hover{
      color: black;
      transform: scale(1.2);
  }
  @media screen and (max-width:960px){
    .header > a {
        width: 4vw;
        height: 5vw;
        margin: 2vw 8vw;
    }
    .header > a > svg{
        font-size: 5vw;
    }
    .header > a > svg:hover{
        color: black;
        transform: scale(1.2);
    }
  }
  