.main {
  margin: 10px;
  padding: 20px;
  width: 80%;
}
.upperContainer {
  display: flex;
  flex-direction: row;
  height: 30vb;
  align-items: start;
  justify-content: space-around;
}
.lowerContainer {
  height: 50vb;
}
.childLeftContainer {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.childRightContainer {
  font-family: sans-serif;
  font-size: large;
  margin-left: -300px;
}
